a{
	color:green;
	text-decoration-color:green;
}
p{ 
    padding:5px;
	text-align:center;
	color:white;
}
h1{
	color:green;
	text-align:center;
}
.go{
	text-align:center;
}
 table {
	       border-width:100%;
            border: 2px solid green;
            border-collapse: collapse;
			margin:10px;
          }

          th, td {
            border: 1px solid green;
            padding: 10px;
            text-align: center;
			color:white;
          } 
		  #Edit{
	                     color:green;
	                     text-align:center;
						  border: 3px solid green;
						  position:center center;
						  font-size:16px;
                      }
					  
  #DV{
	   color:white;
	   text-align:center;
	   margin:10px;
	   font-size:16px;
  }
  #DC{
	   color:white;
	   text-align:center;
	   margin:10px;
	   font-size:16px;
  }
  .Kryck{
	  border: 3px solid green;
	  color:green;
	  text-align:center;
  }
   #E{
	                     text-align:left;
						  position:left;
						  border-color:black;
                      }


  
  