$green:#1aea17;
body{
     background:url(dedsec.jpg)no-repeat center center fixed;
     -webkit-background-size:100%;
      background-color:black;
  }
a{
    h1,h2{
      color:$green;
    }
}
.navbar{
  height:60px !important
}

div{
      text-align: right;
}
